<launch>
  <!-- <node pkg="rostopic" type="rostopic" name="rostopic" args="echo /odometry/filtered" output="screen"/> -->

  <rosparam command="load" file="src/scratch/robot-launch.yaml" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true">
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true" output="screen">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
    <remap from="/gps/fix" to="/gps/raw" />
  </node>

  <!-- <node pkg="odom_pub" type="zeropub.py" name="zeropub"/> -->
  <node pkg="rviz" type="rviz" name="rviz" respawn_delay="7" />

</launch>
